body {
	margin: 0;
	padding-right: 10px;
	font-family: Arial, sans-serif;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
	font-size: 10px;
	font-weight: bold;
	transition: all 0.3s ease;
}

nav a:hover {
	background-color: #fff;
	color: #ffcc00;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	z-index: 2;
}



.logo {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.logo img {
	width: 85px;
	height: 50px;
	margin-right: 5px;
}

.company-name {
	margin-right: 15px;
	font-size: 25px;
	font-weight: bold;
}

.container {
    display: flex;
    
}

.container > * {
    flex: 1 1 100%;
	padding-top: 1px;
	padding-left: 75px;
}

@media only screen and (min-width: 768px) {
    .container > * {
        flex: 1;
    }

    .col-40 {
        flex-basis: 40%;
        max-width: 40%;
    }

    .col-60 {
        flex-basis: 60%;
        max-width: 60%;
		padding-top: 110px;
    }
}
.col-60 img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
  }
  

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

p {
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.links a {
	display: block;
	background-color: #ffcc00;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.links a:hover {
	background-color: #fff;
	color: #ffcc00;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 55px;
	background-color: white;
	z-index: 3;
	overflow-x: hidden;
	padding-top: 95px;
}

.sidebar a {
	display: block;
	padding: 15px;
	color: white;
	font-size: 20px;
	transition: all 0.3s ease;
	padding-top: 25px;
	padding-left: 15px;
	z-index: 4;
}

.sidebar a:hover {
	background-color: grey;
	
}


.active {
	background-color: rgba(35,35,35,255);
}

.col {
    flex: 1;
    padding: 0 0px;
    margin-bottom: 0px;
  }
  
  .col a {
    display: block;
    width: 100%;
  }
  
  .col img {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0px;
  }

  .footer {
	background-color: rgba(35,35,35,255);
	padding: 5px;
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 3;
  }	

  .navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(35,35,35,255);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	padding-right: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	z-index: 3;
  }
  
  .navbar-brand {
	display: flex;
	align-items: center;
	
  }
  
  .navbar-brand-name {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	color: #ffcc00;;
	text-decoration: none;
	
  }
  
  .navbar-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-item {
	margin-right: 20px;
	position: relative;
	
  }
  
  .nav-link {
	display: block;
	background-color: #ffcc00;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  
  .dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	padding: 10px;
	background-color: black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
  }
  
  .nav-item:hover .dropdown-menu {
	display: block;
	
  }
  
  .dropdown-menu li {
	margin-bottom: 10px;
  }
  
  .dropdown-menu a {
	font-size: 14px;
	font-weight: bold;
	color: rgba(227,204,174,255);
	text-decoration: none;
  }
  
  .title {
	Padding-top: 0px;
  }

  	.container { position:relative; }
	.container video {
		position:relative;
		z-index: index 0;
		width: 100%;
		height: auto;
		padding-top: 70px;
		padding-left: 10px;
		overflow: hidden;
	}

	.overlay {
		
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		padding-top: 90px;
		padding-left: 340px;
		color:#ffcc00
	}

	